In [1]:
import pandas as pd
data = [['Dhrumil',19],['Kailash',20],['Deep',21]]
df=pd.DataFrame(data,columns = ['Name','Age'])
df

      Name  Age
0  Dhrumil   19
1  Kailash   20
2     Deep   21

In [2]:
import pandas as pd
data = pd.read_csv("Dhrumil.csv")
data.head()

      Name Subject Grade
0   Aditya      CV    AA
1  Dhrumil    WCMC    AB
2  Kailash    CRNS    AA
3    Savan      SE    AB
4     Deep     SGP    AA